@inject IStringLocalizer<NavMenu> Localize
@inject MyEmployeeContainer employeeController

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="home"><img src="logo-skicentrum-brno.jpg " style="width:200px" class="center"/></a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="home" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> @Localize["home"]
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="new_borrow">
                <span class="oi oi-plus" aria-hidden="true"></span> @Localize["new_borrow"]
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="all_borrows">
                <span class="oi oi-list-rich" aria-hidden="true"></span> @Localize["borrows"]
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="all_clients">
                <span class="oi oi-list-rich" aria-hidden="true"></span> @Localize["clients"]
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="all_borrow_things">
                <span class="oi oi-list-rich" aria-hidden="true"></span> @Localize["all_things"]
            </NavLink>
        </div>
        <AuthorizeView Roles = "0">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="all_categories">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> @Localize["all_categories"]
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="all_employee">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> @Localize["all_employees"]
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
